name: Lint

on: pull_request

jobs:
  misc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: spell check
        uses: codespell-project/actions-codespell@v2
        with:
          skip: ./loader/internal/iasm/obj/macho.go,./loader/internal/iasm/x86_64/encodings.go,./loader/internal/iasm/x86_64/program.go,./loader/internal/iasm/expr/ast.go,./loader/internal/iasm/expr/errors.go
