name: Push Check Go1.18-Linux-X64

on: pull_request

jobs:
  build:
    runs-on: [self-hosted, X64]
    steps:
      - name: Clear repository
        run: sudo rm -fr $GITHUB_WORKSPACE && mkdir $GITHUB_WORKSPACE

      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Unit Test
        run: |
          GOMAXPROCS=4 go test -v -gcflags=-d=checkptr=0 ./...
          GOMAXPROCS=4 go test -v -gcflags=-d=checkptr=0 ./external_jsonlib_test/...
      
      - name: Generic Test
        run: GOMAXPROCS=4 go test -v -gcflags=-d=checkptr=0 ./generic_test