name: Push Check ARM

on: push

jobs:
  build:
    strategy:
      matrix:
        go-version: [1.15.x, 1.18.x]
    runs-on: [self-hosted, arm]
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Compatibility Test
        run: GOMAXPROCS=4 go test -v -gcflags=-d=checkptr=0 .
